@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,700,900&display=swap");

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    // backgrounds: color \ image \  repeat \ attachment \  position \ size
    // linear-gradient(角度, 色彩1 占比%, 色彩2 占比%)
    background: linear-gradient(90deg, #fab 50%, transparent 50%), url("https://picsum.photos/1200/600?random=1") right center / auto 100%;

    .container {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        // 要設定最大寬度margin: auto才有效
        margin: auto;
    }

    .banner-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // 因為主軸是cloumn導致次軸會填滿者整個寬度，用align-items設定對齊開始位置
        align-items: flex-start;

        h1 {
            font-size: 80px;
            font-weight: 900;
            border-bottom: 3px solid #333;
        }

        small {
            display: block;
            font-size: 53px;
            font-weight: 700;
        }

        h2 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
        }
    }
}