@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,700,900&display=swap");

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}

body {
    padding: 100px 0;
    background: linear-gradient(20deg, #515861, #2c384a);
}

.wrap {
    width: 1200px;
    margin: auto;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 70px;

    .txt {
        width: 55%;
        // 子層的flex-shrink預設會有作用
        flex-shrink: 0;
        padding: 50px 30px;
        box-sizing: border-box;
        position: relative;
        z-index: 1;

        h2 {
            font-weight: 900;
            margin-bottom: 1em;
        }

        p {
            font-weight: 300;
            line-height: 1.6;
        }
    }

    .pic {
        width: 55%;
        flex-shrink: 0;

        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

.item> :first-child {
    margin-right: -10%;
}

// 物件如果是二的倍數就將flex方向翻轉
.item:nth-of-type(2n) {
    flex-direction: row-reverse;
    margin-right: 10%;
}

.item {
    &:nth-child(1) .txt {
        background-color: rgba(240, 174, 193, .8);
    }

    &:nth-child(2) .txt {
        background-color: rgba(120, 253, 208, 0.8);
    }

    &:nth-child(3) .txt {
        background-color: rgba(254, 201, 121, .8);
    }

    &:nth-child(4) .txt {
        background-color: rgba(149, 219, 214, .8);
    }
}